<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.88.1" />
    <title>RULL IoT</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.1/examples/dashboard/"
    />

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet" />
  </head>
  <body>
    <header
    class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
  >
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" style="color: #40d3c9;font-size: x-large;" href="/">
    <img src="rull-logo.png" width="60" height="76" alt="" >
    IoT soloutions
    <span style="
    font-size: xx-small;
    display: block;
    
">powered by Sonic</span>
<span style="
font-size: xx-small;
display: block;

">version 1.6</span>
  </a>
   
    <button
      class="navbar-toggler position-absolute d-md-none collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <input
      class="form-control form-control-dark w-100"
      type="text"
      placeholder="Search"
      aria-label="Search"
    /> -->
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <!-- <a class="nav-link px-3" href="#">Sign out</a> -->
      </div>
    </div>
  </header>

  <div class="container-fluid ">
    <div class="row">
      <nav
        id="sidebarMenu"
        class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
      >
      <div class="position-sticky pt-0 pt-md-4 ">
        <ul class="nav flex-column pt-0  pt-md-5 ">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/1883C404764B">
                  <span data-feather="cpu"></span>
                 1883C404764B
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/1883C404764C">
                  <span data-feather="cpu"></span>
                  1883C404764C
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/1883C404764D">
                  <span data-feather="cpu"></span>
                  1883C404764D
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/1883C404764E">
                  <span data-feather="cpu"></span>
                  1883C404764E
                </a>
              </li>
            </ul>

            <h6
              class="
                sidebar-heading
                d-flex
                justify-content-between
                align-items-center
                px-3
                mt-4
                mb-1
                text-muted
              "
            >
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div
            class="
              d-flex
              justify-content-between
              flex-wrap flex-md-nowrap
              align-items-center
              pt-3
              pb-2
              mb-3
              border-bottom
            "
          >
          
          <span class="badge bg-success fs-4"> <span data-feather="cpu"style="height:28px;width:22px"></span>1883C404764D</span>
          <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
               
                <button type="button" class="btn btn-sm btn-outline-secondary" onClick="window.location.reload() "><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g stroke-width="1.5" fill="none"><path d="M21.168 8A10.003 10.003 0 0 0 12 2C6.815 2 2.55 5.947 2.05 11" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M17 8h4.4a.6.6 0 0 0 .6-.6V3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.881 16c1.544 3.532 5.068 6 9.168 6c5.186 0 9.45-3.947 9.951-9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.05 16h-4.4a.6.6 0 0 0-.6.6V21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></g></svg> Refresh</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick='document.querySelector("tbody").innerHTML = ""'>
                  Clear
                </button>
              </div>
            </div>
          </div>

          
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Device Name</th>
                  <th scope="col">Serial Number</th>
                  <th scope="col">Input</th>
                  <th scope="col">Value</th>
                  <th scope="col">Longitude</th>
                  <th scope="col">Latitude</th>
                </tr>
              </thead>
              <tbody id="tbody">
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      var socket = io();

      var messages = document.getElementById("messages");
      var form = document.getElementById("form");
      var tbody = document.getElementById("tbody");

      socket.onAny(function (msg) {
       msg = JSON.parse(msg);        
       var tr = document.createElement("tr");
       var td0 = document.createElement('td');
       var td1 = document.createElement('td');
       var td2 = document.createElement('td');
       var td3 = document.createElement('td');
       var td4 = document.createElement('td');
       var td5 = document.createElement('td');
       var td6 = document.createElement('td');
       var td7 = document.createElement('td');
      
       var text0 = document.createTextNode(msg.TIMESTAMP||'');
       var text1 = document.createTextNode(msg.DeviceName||'');
       var text2 = document.createTextNode(msg.SerialNo||'');
       var text3 = document.createTextNode(msg.type||'');
       var text4 = document.createTextNode(msg.INPUT||'');
       var text5 = document.createTextNode(msg.VALUE||'');
       var text6 = document.createTextNode(msg.LAT||'');
       var text7 = document.createTextNode(msg.LON||'');
      
       td0.appendChild(text0);
       td1.appendChild(text1);
       td2.appendChild(text2);
       td3.appendChild(text3);
       td4.appendChild(text4);
       td5.appendChild(text5);
       td6.appendChild(text6);
       td7.appendChild(text7);

       tr.appendChild(td0);
       tr.appendChild(td1);
       tr.appendChild(td2);
       tr.appendChild(td3);
       tr.appendChild(td4);
       tr.appendChild(td5);
       tr.appendChild(td6);
       tr.appendChild(td7);
        if(msg.SerialNo==="1883C404764D"){
          tbody.appendChild(tr);
        }
       window.scrollTo(0, document.body.scrollHeight);
      });
    </script>

    <script src="js/bootstrap.bundle.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
      integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
      integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
      crossorigin="anonymous"
    ></script>
    <script src="js/dashboard.js"></script>
  </body>
</html>
